@media(max-width:700px){
    .textbox h1{
        font: size 20px;
    }
    .navlinks ul li{
        display: block;
    }
    .navlinks{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: -200px;
        text-align: left;
        z-index:2;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin:10px;
        font-size: 22px;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
    }
    .testi-col img{
        
        margin-right: 0px;
        border-radius: 15%;
    }
    .cta h1{
        font-size: 24px;
    }
}
    

